.form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(to left, #f1f5187e, #9198e57a);
}

.input {
  width: 30%;
  height: auto;
  padding: 10px;
}

.buttonSearch {
  width: 30%;
  height: auto;
  padding: 10px;
}
