.form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(to left, #f1f5187e, #9198e57a);
  margin-bottom: 20px;
}

.input {
  width: 40%;
  height: auto;
  padding: 10px;
}

.buttonSearch {
  width: 40px;
  height: 40px;
  background-image: url('img/button.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin-right: 30px;
  outline: none;
}
