.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid black;
  padding: 10px 0 10px 0;
  background: rgb(218, 250, 247);
}

.listItem {
  width: 30%;
  height: 300px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
  box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.404);
}
